.text-prop {
  text-align: center;
  font-family: Verdana, Roboto, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

#title-div,
#tribute-info {
  background-color: lightgray;
}

#image {
  margin-left: auto;
  margin-right: auto;
  display:flex;
  align-self: center;
  width: 70%;
  background-color: lightgray;
}

figcaption {
  text-align: center;
  font-size: smaller;
}

ul {
  list-style-position: inside;
}
