:root {
  background-color: white;
  font-family: "Raleway", sans-serif;
  --main-red: #be3143;
  --main-white: #f0f0f0;
  --main-blue: #45567d;
  --main-gray: #303841;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

#front-page {
  width: 100%;
  height: 100%;
  position: absolute;
  border-color: black;
  border-style: solid;
  flex-direction: column;
}

#navbar {
  position: fixed;
  width: 100%;
  border-color: black;
  border-style: dashed;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--main-red);
}

.nav-link {
  margin-right: 5vmin;
  align-self: center;
  color: var(--main-white);
  font-size: x-large;
}

#welcome-section {
  border-color: green;
  border-style: dashed;
  flex-direction: column;
  margin-top: 1%;
  height: 50vmax;
  align-items: center;
  justify-content: center;
  background-color: var(--main-gray);
}

h1 {
  margin-bottom: 0%;
  color: var(--main-white);
  font-size: 3vmax;
  font-weight: bolder;
}
h2 {
  margin-top: 1%;
  color: var(--main-red);
  font-size: 2em;
  font-weight: lighter;
}
